*.suo
*.v2
*.DS_Store
back-end/VivaLaDama/.vs/
back-end/VivaLaDama/ChessboardTests/bin/
back-end/VivaLaDama/ChessboardTests/obj/
back-end/VivaLaDama/VivaLaDama/bin/
back-end/VivaLaDama/VivaLaDama/obj/
*.exe
*.json
*.dll
*.pdb
*.cache
*.props
*.user
*.config
*.testlog
